/** Calendar component **/
.calendar {
  display: flex;
  position: relative;
}

.calendar__content {
  width: 620px;
  height: 720px;
  margin: 0 10px;
  background-color: rgba(189, 195, 199, 0.27);
  border: 1px solid black;
  position: relative;
}

.calendar__hour-column__hour {
  position: absolute;
  left: -65px;
}

.calendar__hour-column__half-hour {
  position: absolute;
  left: -25px;
  font-size: 10px;
}
/** ListEvenement component **/
.list-evenement {
  width: 100%;
  height: 100%;
  position: relative;
}

.list-evenement__element {
  border: 1px solid black;
  position: absolute;
  display: flex;
  background-color: white

}
.list-evenement__element__comment {
  display: flex;
  flex-direction: column;
}

.list-evenement__element__comment__primary-text {
  font-size: 15px;
  margin: 5px;
  color: #2980b9;
}

.list-evenement__element__comment__secondary-text {
  font-size: 10px;
  margin: 5px;
}

.list-evenement__element__decor {
  height: 100%;
  width: 5px;
  background-color: #2980b9;
}
